<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }
        footer {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .body {
            margin: 40px;;
            justify-content: center;
        }
    </style>
</head>
<body>
    <header>Pierwsza strona</header>

    <h1>Witaj na stronie!</h1>

    <footer>Projekt relizowany w kursie podstawy Python</footer>
</body>
</html>